<%
if(value){
    if(mw3.where != "selfservice"){
%>
        <td>Key : </td>
        <td><%=fields.key.here()%></td>
        </tr>
        <tr>
        <td>Value : </td>
        <td class="text-right"><%=fields.defaultValue.here()%></td>
        </tr>
        <tr>
        <td>Type : </td>
        <td class="text-right"><%=fields.type.here()%></td>
        </tr>

<%
    }else{
%>
        <tr>
        <td>Key : </td>
        <td><%=fields.key.here({when:'view'})%></td>
        </tr>
        <tr>
        <td>Value : </td>
        <td class="text-right"><%=fields.defaultValue.here()%></td>
        </tr>
<%
    }
%>
<%
}
%>